/*mystyles.css */
.header {
  position: relative;
  text-align: center;
  color: white;
  height: 300px; 
  background-image: url("wheatfarm.png");
  background-position: center;
}

.header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
}


